html {
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  @extend %robotocondensed-400;
  color: $text;
  font-size: 16px;
  line-height: 1.5;
  min-height: 100%;
  min-width: 320px;
  overflow-x: hidden;
}

.main {
  flex-grow: 1;

  &--page {
    padding-top: 100px;
  }
}

.container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
}

.container-narrow {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.logo {
  &__img {
    width: 112px;
    transition: width 0.5s;
  }
}

.title {
  font-size: 30px;
  color: #5e5e5e;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 40px;

  &--page {
    padding-bottom: 10px;
    border-bottom: 1px solid #e2e2e2;

    @media (max-width: 920px) {
      margin-bottom: 20px;
    }
  }

  @media (max-width: 549px) {
    margin-bottom: 25px;
    font-size: 25px;
  }
}

input,
textarea {
  &:active,
  &:focus {
    outline: transparent;
  }
}

button {
  &:active,
  &:focus {
    outline: transparent;
    cursor: pointer;
  }
}

// ! Скрывает заголовки и т.д. для СЕО
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

input,
textarea {
  &:focus {
    border: 1px solid #9cc0f9;
  }

  &:hover {
    border: 1px solid $accent;
  }

  &:active {
    border: 1px solid yellowgreen;
  }
}

.link-button {
  display: block;
  padding: 15px;
  border: 2px solid $accent;
  background-color: #fff;
  border-radius: 5px;
  color: $accent;
  text-transform: uppercase;
  @extend %oswald-500;
  font-size: 14px;
  transition: color 0.5s, background-color 0.5s, border-color 0.5s;

  &:hover {
    color: #fff;
    background-color: $accent;
    border-color: #fff;

    .link-button__svg {
      fill: #fff;
    }
  }

  &--discount {
    width: 202px;
    margin: 0 auto;
  }

  &--order,
  &--coupons {
    padding: 10px 15px;
    width: 168px;
  }

  &--checkout {
    @extend %oswald-400;
  }

  @media (max-width: 549px) {
    font-size: 12px;
  }
}

.link-button__svg {
  fill: $accent;
  transition: fill 0.5s;
}

.page-content__box {
  max-width: 750px;
  margin-right: 40px;

  &--mobile {
    @media (max-width: 920px) {
      margin-right: 0;
    }
  }

  &--shop {
    max-width: 100%;
    margin-right: 0;
  }

  @media (max-width: 920px) {
    max-width: 100%;
    margin-bottom: 30px;
  }
}

.page-wrap {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;

  @media (max-width: 920px) {
    display: block;
  }
}

.jq-selectbox {
  &:hover {
    .jq-selectbox__trigger-arrow {
      border-top: 5px solid $text;
    }
  }
}

.jq-selectbox__select-text {
  color: $text;
}

.jq-selectbox__select {
  border: 1px solid $border-light;
  background: transparent;
  font-family: "RobotoCondensed-Regular";
  font-size: 16px;

  &:hover {
    background: transparent;
  }
}

.jq-selectbox__trigger {
  border-left: none;
}

.jq-selectbox__trigger-arrow {
  border-top: 5px solid $text;
}

.jq-selectbox li {
  font-family: "RobotoCondensed-Regular";
  font-size: 16px;
  color: $text;
  transition: color 0.5s, background-color 0.5s;

  &.selected {
    background-color: $accent;
    color: #fff;
  }

  &:hover {
    background-color: $accent;
    color: #fff;
  }
}

.jq-number__field input {
  padding: 0 9px;
  text-align: center;
}

.jq-number__field {
  width: 52px;
  margin-left: 27px;
  border-color: $border-light;
}

.jq-number__spin {
  height: 26px;
  background: transparent;
  border-color: $border-light;

  &:hover {
    background: transparent;
  }
}

.jq-number__spin.minus {
  left: 0;

  &::after {
    width: 10px;
    height: 2px;
    top: 50%;
    transform: translateY(-50%);
  }
}

.jq-number__spin.plus {
  right: -66px;
  &::after {
    width: 10px;
    height: 2px;
    top: 50%;
    transform: translateY(-50%);
  }

  &::before {
    content: "";
    position: absolute;
    width: 2px;
    height: 10px;
    top: 50%;
    transform: translateY(-50%);
    left: 15px;
  }
}

.jq-number__spin.minus,
.jq-number__spin.plus {
  &::after,
  &::before {
    background-color: $border;
    border: none;
  }
}

.similar-products__title {
  font-size: 30px;
  font-weight: 400;
  margin-bottom: 20px;
}
