.banner {
  margin-bottom: 70px;

  &__wrapper {
    display: flex;
    justify-content: space-between;
  }

  &__img {
    max-width: 788px;
    min-height: 497px;
    object-fit: cover;
  }
}

.aside {
  max-width: 320px;
  width: 100%;
  margin-right: 20px;
  padding-top: 10px;

  &__title {
    font-size: 20px;
    color: $text;
    font-weight: 500;
    padding-bottom: 5px;
    border-bottom: 2px solid #e3e3e3;
    margin-bottom: 20px;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      width: 60px;
      height: 2px;
      background-color: $accent;
      left: 0;
      bottom: -2px;
      transition: width 0.5s;
    }

    &:hover::before {
      width: 100%;
    }
  }

  &__search-box {
    margin-bottom: 25px;
  }

  &__input {
    width: 100%;
    height: 40px;
    border: 1px solid #bbbbbb;
    margin-bottom: 10px;
    padding: 10px;
    color: $text;
  }

  &__search-btn {
    width: 100%;
    height: 40px;
    background-color: transparent;
    border: 1px solid #bbbbbb;
    cursor: pointer;
    transition: box-shadow 0.5s;

    &:hover {
      box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    }
  }

  &__category {
    margin-bottom: 25px;
  }

  &__accordion-wrapper {
    padding-bottom: 5px;
  }

  &__accordion-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #333;

    p {
      width: 250px;
    }

    span {
      font-size: 11px;
      width: 30px;
      height: 18px;
      border: 1px solid #eaeaea;
      border-radius: 25px;
      padding: 1px 0 0 12px;
    }
  }

  &__accordion-all {
    padding: 5px 0 5px 25px;
    display: block;
    color: $text;
    font-size: 16px;
    transition: color 0.5s ease 0s;

    &:hover {
      color: $accent;
    }
  }

  &__first-level {
    font-size: 18px;
    color: $text;
    padding: 5px 0 5px 25px;
    position: relative;
    cursor: pointer;
    border-bottom: 1px solid #c0bfbf;
    transition: color 0.5s;

    &:hover {
      color: $accent;

      &.banner__first-level::before,
      &.banner__first-level::after {
        background-color: $accent;
      }
    }

    &::before,
    &::after {
      width: 13px;
      height: 2px;
      content: "";
      position: absolute;
      left: 0;
      background-color: $text;
      transition: transform 0.5s, background-color 0.5s;
    }

    &::before {
      transform: rotate(90deg);
    }

    &.open {
      color: $accent;
    }

    &.open::before {
      transform: rotate(180deg);
      background-color: $accent;
    }

    &.open::after {
      background-color: $accent;
    }
  }

  &__accordion-inner {
    border-bottom: 1px solid #c0bfbf;
  }

  &__second-level {
    font-size: 16px;
    color: $text;
    border-top: 1px solid #c0bfbf;
    margin-top: 3px;
    padding: 5px 0 5px 35px;
    position: relative;
    cursor: pointer;
    margin-left: 12px;
    transition: color 0.5s;

    &:hover {
      color: $accent;

      &.banner__second-level::before,
      &.banner__second-level::after {
        background-color: $accent;
      }
    }

    &:first-child {
      border-top: 0;
    }

    &::before,
    &::after {
      content: "";
      position: absolute;
      background-color: $text;
      width: 13px;
      height: 2px;
      left: 10px;
      transition: transform 0.5s, background-color 0.5s;
    }

    &::before {
      transform: rotate(90deg);
    }

    &.active {
      color: $accent;
    }

    &.active::before {
      transform: rotate(180deg);
      background-color: $accent;
    }

    &.active::after {
      background-color: $accent;
    }
  }

  &__third-level {
    padding-top: 5px;
    border-top: 1px solid #c0bfbf;
    display: flex;
    flex-direction: column;
    align-items: start;
    padding-left: 40px;
  }

  &__accordion-link {
    font-size: 14px;
    color: #333;
    text-transform: uppercase;
    padding: 5px 0 5px 20px;
    border-bottom: 1px solid #c0bfbf;
    width: 100%;
    display: block;

    &:last-child {
      border-bottom: none;
    }
  }
}

.socials-list {
  display: flex;

  &__item {
    margin-right: 20px;

    &:last-child {
      margin-right: 0;
    }
  }

  &__svg {
    fill: #909090;
    transition: fill 0.5s;

    &:hover {
      fill: $accent;
    }
  }
}
