.cart {
  &__discount-descr {
    margin-bottom: 30px;
  }

  &__discount-link {
    font-weight: 700;
    color: $accent;
    text-decoration: underline;

    &:hover {
      color: $accent;
    }
  }

  &__table-box {
    border: 1px solid $border-light;
    padding: 20px 20px 20px 20px;
    margin-bottom: 40px;
    border-radius: 3px;

    @media (max-width: 1156px) {
      display: none;
    }
  }

  &__table-titleitem {
    padding-bottom: 20px;
  }

  &__table-item {
    max-width: 130px;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: inline-block;
  }

  &__table-link {
    color: $accent;

    &:hover {
      color: $accent;
    }
  }

  &__table-titlebox {
    display: flex;
    justify-content: space-between;
    padding-left: 100px;
  }

  &__table-title {
    max-width: 130px;
    width: 100%;
    font-weight: 700;
  }

  &__table-boxitem {
    padding-bottom: 20px;
    position: relative;
  }

  &__tooltiptext {
    visibility: hidden;
    opacity: 0;
    width: 115px;
    font-size: 12px;
    background-color: $red;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: -38px;
    left: -16px;
    transition: all 0.5s;

    &::after {
      content: "";
      position: absolute;
      top: 100%;
      left: 28%;
      margin-left: -10px;
      border-width: 5px;
      border-style: solid;
      border-color: $red transparent transparent transparent;
    }
  }

  &__item-remove {
    padding: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
    position: absolute;
    top: 2px;
    left: 0px;
    transition: color 0.5s;
    color: $border;

    &:hover {
      color: $red;

      .cart__tooltiptext {
        visibility: visible;
        opacity: 1;
      }
    }
  }

  &__img {
    width: 30px;
    height: 30px;
    object-fit: cover;
    position: absolute;
    left: 45px;
    top: 0;
  }

  &__table-contentbox {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 100px;
  }

  &__table-number {
    border: none;
    text-align: center;
    padding-left: 10px;
    color: $text;
    width: 60px;

    &:focus {
      border: none;
    }

    &:hover {
      border: none;
    }

    &:active {
      border: none;
    }
  }

  // .quantity-button {
  //   position: absolute;
  //   line-height: 0;
  //   font-size: 25px;
  //   top: 11px;
  //   color: $text;
  // }

  // .quantity-up {
  //   right: 215px;
  // }

  // .quantity-down {
  // }

  // input[type="number"]::-webkit-inner-spin-button,
  // input[type="number"]::-webkit-outer-spin-button {
  //   -webkit-appearance: none;
  //   margin: 0;
  // }

  // input[type="number"] {
  //   -moz-appearance: textfield;
  // }

  &__tablebox-mobile {
    border: 1px solid $border-light;
    padding: 15px;
    border-radius: 3px;
    margin-bottom: 30px;
    display: none;

    @media (max-width: 1156px) {
      display: block;
    }

    .quantity-button {
      position: absolute;
      line-height: 0;
      font-size: 25px;
      color: $text;
    }

    .quantity-up {
      right: 58px;
      top: 12px;
    }

    .quantity-down {
      right: 123px;
      top: 11px;
    }
  }

  &__mobile-items {
    position: relative;

    &:last-child {
      border-top: 1px solid $border-light;
      padding-top: 15px;
    }
  }

  &__mobile-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 15px;
  }

  &__table-form {
    &--mobile {
      position: relative;
    }
  }

  &__table-number {
    &--mobile {
      margin-right: 70px;
    }
  }

  &__item-remove {
    &--mobile {
      position: static;
      display: flex;
      align-items: center;
    }
  }

  &__remove-svg {
    margin-right: auto;
  }

  &__tooltiptext {
    &--mobile {
      visibility: visible;
      opacity: 1;
      position: static;
      background-color: transparent;
      color: $text;

      &::after {
        display: none;
      }
    }
  }

  &__table-form {
    &--mobile {
      // margin-right: 8px;
    }
  }

  &__coupons-box {
    display: flex;
    justify-content: space-between;
  }

  &__coupons-inputbox {
    display: flex;
  }

  &__coupons-input {
    width: 120px;
    padding: 0 15px;
    margin-right: 10px;
    border: 1px solid $border-light;

    &::placeholder {
      opacity: 0.4;
    }
  }

  &__coupons-btn,
  &__update-btn {
    padding: 5px 15px;
    border-radius: 3px;
    cursor: pointer;
    font-size: 12px;

    &:hover {
      border-color: $accent;
    }
  }

  &__update-btn {
    padding: 5px 15px;
    border-radius: 3px;
    cursor: pointer;
    font-size: 12px;
  }

  &__orderamount {
    max-width: 410px;
    margin-left: auto;
  }

  &__orderamount-title {
    font-size: 30px;
    font-weight: 400;
  }

  &__orderamount-box {
    border: 1px solid $border-light;
    padding: 10px;
    border-radius: 3px;
    margin-bottom: 20px;
  }

  &__orderamount-item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
  }

  &__item-title {
    font-weight: 700;
  }

  &__item-value {
    max-width: 190px;
    width: 100%;
  }

  &__orderamount-btn {
    padding: 10px 20px;
    font-size: 12px;
    border-radius: 3px;
    cursor: pointer;

    &:hover {
      border-color: $accent;
    }
  }
}
