.checkout {
  padding-bottom: 40px;

  &__box {
    width: 100%;
  }

  &__coupons-questionbox {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    padding-left: 40px;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      width: 25px;
      height: 25px;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      background-image: url(../images/svg-sprite/sprite.svg#list);
    }

    p {
      margin-right: 10px;
    }
  }

  &__coupons-question {
    border: none;
    background-color: transparent;
    color: $accent;
    cursor: pointer;
  }

  &__coupons-body {
    margin-bottom: 25px;
  }

  &__coupons-form {
    display: flex;
    align-items: center;
  }

  &__coupons-input {
    max-width: 400px;
    width: 100%;
    margin-right: 10px;
    padding: 5px 10px;
    border: 1px solid $border;
    border-radius: 3px;
    color: $text;

    &::placeholder {
      opacity: 0.5;
    }
  }

  &__coupons-btn {
    padding: 6px 15px;
    border-radius: 3px;
    border: 1px solid $accent;
  }

  &__details {
    margin-bottom: 20px;
  }

  &__forms {
    display: flex;
    justify-content: space-between;

    @media (max-width: 1156px) {
      display: block;
    }
  }

  &__form {
    max-width: 400px;
    width: 100%;

    @media (max-width: 1156px) {
      max-width: 100%;
    }
  }

  &__details-form {
    margin-right: 25px;

    @media (max-width: 1156px) {
      margin-bottom: 20px;
    }
  }

  &__form-title {
    margin-bottom: 15px;
  }

  &__label {
    span {
      color: $red;
    }
  }

  &__input {
    width: 100%;
    margin: 5px 0 15px;
    border: 1px solid $border;
    padding: 5px 10px;
    border-radius: 3px;
    color: $text;

    &::placeholder {
      opacity: 0.6;
    }
  }

  &__textarea {
    width: 100%;
    margin-top: 5px;
    border: 1px solid $border;
    border-radius: 3px;
    padding: 5px 10px;
    resize: none;
    min-height: 100px;
    overflow-x: auto;
    color: $text;

    &::placeholder {
      opacity: 0.6;
    }
  }

  &__delivery-label {
    position: relative;
    padding-left: 30px;
    font-weight: 700;
    font-size: 18px;
    display: flex;
    align-items: center;
    max-width: 400px;
    width: 100%;
    z-index: 55;
    background-color: #fff;
    margin-bottom: 16px;
  }

  &__delivery-checkbox {
    @extend %checkbox-hidden;

    &:checked {
      & + .checkout__checkbox-style {
        &::before {
          content: "";
          position: absolute;
          width: 10px;
          height: 10px;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          background-color: $accent;
        }
      }
    }
  }

  &__checkbox-style {
    position: absolute;
    width: 20px;
    height: 20px;
    border: 2px solid $accent;
    margin-left: -30px;
    cursor: pointer;
  }

  &__order {
    width: 100%;
    margin-bottom: 25px;
  }

  &__order-title {
    margin-bottom: 15px;
    font-size: 20px;
  }

  &__order-table {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid $border-light;
    border-radius: 3px;
  }

  &__order-list {
    max-width: 400px;
    width: 100%;
  }

  &__order-item {
    padding: 10px 15px;
    border-bottom: 1px solid $border-light;

    &:last-child {
      border: none;
    }

    @media (max-width: 399px) {
      font-size: 12px;
    }
  }

  &__order-fat {
    font-weight: 700;
  }

  &__payment {
    background-color: #f1f1f1;
    padding: 20px 15px;
    border-radius: 3px;
  }

  &__payment-label {
    display: block;
    margin-bottom: 20px;
    padding-left: 35px;

    &--bottom {
      margin-right: 10px;
      display: block;

      @media (max-width: 563px) {
        margin-bottom: 5px;
      }
    }
  }

  &__payment-radio {
    @extend %radio-hidden;

    &:checked {
      & + .checkout__payment-radiostyle {
        &::before {
          content: "";
          position: absolute;
          width: 10px;
          height: 10px;
          background-color: $accent;
          border-radius: 50%;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
      }
    }
  }

  &__payment-radiostyle {
    position: absolute;
    width: 20px;
    height: 20px;
    border: 2px solid $accent;
    border-radius: 50%;
    margin-left: -30px;
  }

  &__payment-hiddentext {
    padding: 15px;
    border-radius: 3px;
    background-color: rgb(219, 219, 219);
    margin-bottom: 20px;
    position: relative;
    display: none;

    &.active {
      display: block;
    }

    span {
      width: 0;
      height: 0;
      border-top: 20px solid rgb(219, 219, 219);
      border-left: 20px solid transparent;
      position: absolute;
      transform: rotate(-45deg);
      top: -8px;
      left: 38px;
    }
  }

  &__payment-text {
    margin-bottom: 25px;
  }

  &__payment-form {
    &--checkbox {
      display: flex;

      @media (max-width: 563px) {
        display: block;
      }

      @media (max-width: 434px) {
        font-size: 12px;
      }
    }
  }

  &__payment-policy,
  &__payment-checkboxlink {
    color: $accent;
    text-decoration: underline;

    &:hover {
      color: $accent;
    }
  }

  &__payment-checkboxlink {
    cursor: pointer;
    font-size: 16px;

    @media (max-width: 563px) {
      margin-bottom: 20px;
      display: block;
      text-align: right;
    }
  }

  &__payment-checkbox {
    @extend %checkbox-hidden;

    &:checked {
      & + .checkout__payment-checkboxstyle {
        &::before {
          content: "";
          position: absolute;
          width: 10px;
          height: 10px;
          background-color: $accent;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
      }
    }
  }

  &__payment-checkboxstyle {
    position: absolute;
    width: 20px;
    height: 20px;
    border: 2px solid $accent;
    margin-left: -30px;
    cursor: pointer;
  }

  &__payment-asterics {
    color: $red;
  }

  &__btn-box {
    width: 100%;
    display: flex;
    justify-content: flex-end;
  }

  &__form-btn {
    padding: 5px 15px;
    background-color: transparent;
    cursor: not-allowed;
    border: 2px solid rgba($accent, 0.3);
    color: rgba($accent, 0.3);

    &:hover {
      border: 2px solid rgba($accent, 0.3);
      color: rgba($accent, 0.3);
      background-color: transparent;
    }

    &.active {
      border: 2px solid $accent;
      color: #fff;
      background-color: $accent;
      cursor: pointer;

      &:hover {
        border-color: $accent;
        background-color: transparent;
        color: $accent;
      }
    }
  }
}
