.first-screen {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  height: 100vh;
  margin-bottom: 70px;

  &__text-box {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    width: 100%;
    @extend %oswald-400;
    padding-top: 60px;
  }

  &__above-title {
    font-size: 45px;
    color: $text;
  }

  &__title {
    font-size: 55px;
    color: #383838;
    @extend %oswald-800;
  }

  &__under-title {
    font-size: 35px;
    color: #3b3b3b;
    margin-bottom: 60px;
  }
}
