.first-screen {
  background-image: url("../images/bg/header-bg.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  height: 100vh;
  margin-bottom: 70px;

  @media (max-width: 920px) {
    margin-bottom: 30px;
  }

  &__text-box {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    width: 100%;
    @extend %oswald-400;
    padding-top: 60px;
    text-align: center;
    padding: 60px 15px 0;
  }

  &__above-title {
    font-size: 45px;
    color: $text;
  }

  &__title {
    font-size: 55px;
    color: #383838;
    @extend %oswald-800;
  }

  &__under-title {
    font-size: 35px;
    color: #3b3b3b;
    margin-bottom: 60px;
  }

  @media (max-width: 920px) {
    &__above-title {
      font-size: 35px;
    }

    &__title {
      font-size: 35px;
    }

    &__under-title {
      font-size: 25px;
    }
  }

  @media (max-width: 572px) {
    &__above-title {
      font-size: 20px;
    }

    &__title {
      font-size: 25px;
    }

    &__under-title {
      font-size: 15px;
    }
  }
}
