.led {
  margin-bottom: 70px;

  @media (max-width: 920px) {
    margin-bottom: 30px;
  }

  &__wrap {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
  }

  &__text-box {
    max-width: 788px;
    margin-left: auto;
    padding: 50px;

    @media (max-width: 549px) {
      padding: 35px 15px 10px;
    }
  }

  &__title {
    font-size: 30px;
    margin-bottom: 10px;
    font-weight: 500;

    @media (max-width: 549px) {
      font-size: 20px;
    }
  }

  &__text {
    font-size: 20px;
    line-height: 1.5;
    margin-bottom: 25px;

    @media (max-width: 549px) {
      font-size: 16px;
      margin-bottom: 15px;
    }
  }

  &__list {
    list-style-type: disc;
    padding-left: 30px;
  }

  &__link {
    max-width: 282px;
    margin: 0 auto;

    @media (max-width: 549px) {
      margin-bottom: 20px;
    }
  }
}
