.products-tile {
  margin-bottom: 50px;

  @media (max-width: 920px) {
    margin-bottom: 30px;
  }

  &--discount {
    margin-bottom: 35px;
  }

  &__list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 -10px;

    &--discount {
      margin-bottom: 40px;

      @media (max-width: 920px) {
        margin-bottom: 30px;
      }
    }
  }

  &__item {
    width: 210px;
    box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.25);
    transition: box-shadow 0.5s ease 0s;
    border-radius: 5px;
    position: relative;
    margin: 0 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;

    &:hover {
      box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.38);
    }

    @media (max-width: 1159px) {
    }

    @media (max-width: 469px) {
      width: 100%;
    }
  }

  &__img-link {
    border-radius: 5px 5px 0 0;
    display: block;
  }

  &__img {
    width: 180px;
    height: 180px;
    object-fit: cover;
    border-radius: 5px 5px 0 0;
  }

  &__text-box {
    padding: 25px 20px 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    min-height: 210px;
  }

  &__name {
    font-size: 18px;
    line-height: 1.3;
    text-transform: uppercase;
    text-align: center;
    width: 180px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__prices-box {
    &:empty {
      display: none;
    }
  }

  &__current-price {
    font-size: 18px;

    &:empty {
      display: none;
    }
  }

  &__price {
    font-size: 18px;
    color: $accent;

    &--crossedout {
      text-decoration: line-through;
      color: $text;
      opacity: 0.4;
    }

    &--discount {
      &:empty {
        display: none;
      }
    }
  }

  &__discount-percent {
    font-style: italic;
    color: $red;

    &:empty {
      display: none;
    }
  }

  &__link {
    margin-bottom: 10px;
    padding: 5px 20px;
    font-size: 14px;
    border: 1px solid transparent;
    text-transform: uppercase;
    color: #fff;
    background-color: $accent;
    border-radius: 3px;
    transition: background-color 0.5s, color 0.5s, border-color 0.5s;
    display: block;
    text-align: center;
    cursor: pointer;

    &:last-child {
      margin-bottom: 0;
    }

    &:hover {
      background-color: #fff;
      color: $accent;
      border: 1px solid $accent;
    }
  }

  &__action {
    position: absolute;
    width: 70px;
    height: 45px;
    background-color: $red;
    top: 0;
    right: 0;
    border-radius: 0 5px 0 0;
    color: #fff;
    text-align: center;
    padding-top: 10px;

    &:empty {
      display: none;
    }
  }
}
