<div class="about__text-box page-content__box">
  <p>
    Компания «Элпро», а также сеть магазинов «Семь ламп», были основаны в 2009 году.
    Организация занимается реализацией:

  <ul class="about__list">
    <li>кабельно-проводниковой (кабель, провод, муфты, СИЗы…)</li>
    <li>светодиодной (лампочки, прожекторы, выключатели, светильники…)</li>
    <li>электротехнической (выключатели, розетки, автоматы, щиты…)</li>
  </ul>

  продукции.
  </p>

  <p>
    Для удобства населения, а именно приобретение нужной электротехнической продукции и комплектующих
    элементов в
    одном
    месте, не затрачивая на поиск много времени, компания решила организовать оптово-розничный магазин под
    брендом
    «Семь
    ламп».
  </p>
  <p>
    Компания может предоставить потребителям широкий ассортимент продукции. Мы представляет интересы многих
    отечественных и
    зарубежных производителей электротехнической продукции.
  </p>
  <p>
    А так-же являемся партнером двух Лидирующих Российских заводов по производству кабельно-проводниковой
    продукции.
    На
    наших складах имеется большой выбор продукции для комплексного обеспечения поставки каждой поступающей
    Заявки
    от
    наших
    партнеров.
  </p>
  <p>
    Компания «Элпро» является официальным дилером торговой марки Jazzway на территории Республики Казахстан.
    Мы
    готовы
    предложить большой ассортимент светодиодной продукции и удовлетворить любые потребности клиентов в данной
    области.
  </p>
  <p>
    Торговая марка Jazzway предлагает комплексные поставки светодиодной продукции:

  <ul class="about__list">
    <li>для освещения офисных и общественных помещений</li>
    <li>торговых и промышленных площадей</li>
    <li>освещения автодорог и автомагистралей</li>
    <li>улиц и придомовых территорий</li>
  </ul>
  </p>

  <p>
    Светодиодная продукция торговой марки Jazzway отличается высокой надежностью. Сроки службы и низкое
    энергопотребление,
    являются идеальным соотношением цены и качества.
  </p>

  <p>
    Мы сотрудничаем как с государственными, так и с частными организациями. Нашу продукцию вы можете
    приобрести и
    на
    заказ.
    Спектр нашей продукции представлен в строительных супермаркетах «12 месяцев», «Мегастрой», «Строимарт» не
    только
    нашего
    города, но и по всей ВКО.
  </p>
</div>