<section class="products-tile arrivals">
  <div class="container">
    <h2 class="products-tile__title title">Последние поступления</h2>

    <div class="products-tile__wrap">
      <ul class="products-tile__list">
        <li class="products-tile__item">
          <a class="products-tile__img-link" href="product-single-page.html">
            <img class="products-tile__img" src="images/products/phb-ufo.jpg" alt="phb-ufo">
          </a>
          <div class="products-tile__text-box">
            <span class="products-tile__name" title="phb-ufo">phb-ufo</span>
            <div class="products-tile__prices-box">
              <span class="products-tile__current-price">35,595.0 ₸</span>
              <span class="products-tile__price products-tile__price--crossedout"></span>
              <span class="products-tile__price products-tile__price--discount"></span>
            </div>
            <span class="products-tile__discount-percent"></span>
            <div class="products-tile__link-box">
              <a class="products-tile__link" href="product-single-page.html">перейти</a>
              <button class="products-tile__link" type="button">в корзину</button>
            </div>
          </div>

          <span class="products-tile__action"></span>
        </li>

        <li class="products-tile__item">
          <a class="products-tile__img-link" href="product-single-page.html">
            <img class="products-tile__img" src="images/products/phb-smd_100w_120d.jpg" alt="phb-smd_100w_120d">
          </a>
          <div class="products-tile__text-box">
            <span class="products-tile__name" title="phb-smd/120&#176;">phb-smd/120&#176;</span>
            <div class="products-tile__prices-box">
              <span class="products-tile__current-price">93,671.0 ₸</span>
              <span class="products-tile__price products-tile__price--crossedout"></span>
              <span class="products-tile__price products-tile__price--discount"></span>
            </div>
            <span class="products-tile__discount-percent"></span>
            <div class="products-tile__link-box">
              <a class="products-tile__link" href="product-single-page.html">перейти</a>
              <button class="products-tile__link" type="button">в корзину</button>
            </div>
          </div>

          <span class="products-tile__action"></span>
        </li>

        <li class="products-tile__item">
          <a class="products-tile__img-link" href="product-single-page.html">
            <img class="products-tile__img" src="images/products/phb-smd_50w_60d.jpg" alt="phb-smd_50w_60d">
          </a>
          <div class="products-tile__text-box">
            <span class="products-tile__name" title="phb-smd/60&#176;">phb-smd/60&#176;</span>
            <div class="products-tile__prices-box">
              <span class="products-tile__current-price">46,836.0 ₸</span>
              <span class="products-tile__price products-tile__price--crossedout"></span>
              <span class="products-tile__price products-tile__price--discount"></span>
            </div>
            <span class="products-tile__discount-percent"></span>
            <div class="products-tile__link-box">
              <a class="products-tile__link" href="product-single-page.html">перейти</a>
              <button class="products-tile__link" type="button">в корзину</button>
            </div>
          </div>

          <span class="products-tile__action"></span>
        </li>

        <li class="products-tile__item">
          <a class="products-tile__img-link" href="product-single-page.html">
            <img class="products-tile__img" src="images/products/ppi_100w_2017-1.jpg" alt="ppi_100w_2017-1">
          </a>
          <div class="products-tile__text-box">
            <span class="products-tile__name" title="ppl-01">ppl-01</span>
            <div class="products-tile__prices-box">
              <span class="products-tile__current-price">68,085.0 ₸</span>
              <span class="products-tile__price products-tile__price--crossedout"></span>
              <span class="products-tile__price products-tile__price--discount"></span>
            </div>
            <span class="products-tile__discount-percent"></span>
            <div class="products-tile__link-box">
              <a class="products-tile__link" href="product-single-page.html">перейти</a>
              <button class="products-tile__link" type="button">в корзину</button>
            </div>
          </div>

          <span class="products-tile__action"></span>
        </li>

        <li class="products-tile__item">
          <a class="products-tile__img-link" href="product-single-page.html">
            <img class="products-tile__img" src="images/products/pgx70_15254-06.jpg" alt="pgx70_15254-06">
          </a>
          <div class="products-tile__text-box">
            <span class="products-tile__name" title="pgx70">pgx70</span>
            <div class="products-tile__prices-box">
              <span class="products-tile__current-price">1,301.0 ₸</span>
              <span class="products-tile__price products-tile__price--crossedout"></span>
              <span class="products-tile__price products-tile__price--discount"></span>
            </div>
            <span class="products-tile__discount-percent"></span>
            <div class="products-tile__link-box">
              <a class="products-tile__link" href="product-single-page.html">перейти</a>
              <button class="products-tile__link" type="button">в корзину</button>
            </div>
          </div>

          <span class="products-tile__action"></span>
        </li>
      </ul>
    </div>
  </div>
</section>