<section class="products-tile arrivals">
  <div class="container">
    <h2 class="products-tile__title title">Лидеры продаж</h2>

    <div class="products-tile__wrap">
      <ul class="products-tile__list">
        <li class="products-tile__item">
          <a class="products-tile__img-link" href="#">
            <img class="products-tile__img" src="images/products/pfl_20w_rgb.png" alt="phb-ufo">
          </a>
          <div class="products-tile__text-box">
            <span class="products-tile__name">PFL RGB цветного свечения</span>
            <div class="products-tile__prices-box">
              <span class="products-tile__current-price">7,155.0 ₸</span>
              <span class="products-tile__price products-tile__price--crossedout"></span>
              <span class="products-tile__price products-tile__price--discount"></span>
            </div>
            <span class="products-tile__discount"></span>
            <a class="products-tile__link" href="#">выбрать...</a>
          </div>

          <span class="products-tile__action"></span>
        </li>

        <li class="products-tile__item">
          <a class="products-tile__img-link" href="#">
            <img class="products-tile__img" src="images/products/pfl-c-20w_sensor.png" alt="phb-smd_100w_120d">
          </a>
          <div class="products-tile__text-box">
            <span class="products-tile__name">phl-c sensor</span>
            <div class="products-tile__prices-box">
              <span class="products-tile__current-price">7,306.0 ₸</span>
              <span class="products-tile__price products-tile__price--crossedout"></span>
              <span class="products-tile__price products-tile__price--discount"></span>
            </div>
            <span class="products-tile__discount"></span>
            <a class="products-tile__link" href="#">выбрать...</a>
          </div>

          <span class="products-tile__action"></span>
        </li>

        <li class="products-tile__item">
          <a class="products-tile__img-link" href="#">
            <img class="products-tile__img" src="images/products/pbh-pc3-rsi_sensor_sign.png" alt="phb-smd_50w_60d">
          </a>
          <div class="products-tile__text-box">
            <span class="products-tile__name">phb-pc3-rsi sensor</span>
            <div class="products-tile__prices-box">
              <span class="products-tile__current-price">3,560.0 ₸</span>
              <span class="products-tile__price products-tile__price--crossedout"></span>
              <span class="products-tile__price products-tile__price--discount"></span>
            </div>
            <span class="products-tile__discount"></span>
            <a class="products-tile__link" href="#">выбрать...</a>
          </div>

          <span class="products-tile__action"></span>
        </li>

        <li class="products-tile__item">
          <a class="products-tile__img-link" href="#">
            <img class="products-tile__img" src="images/products/pfl-sc_sensor_30w.png" alt="ppi_100w_2017-1">
          </a>
          <div class="products-tile__text-box">
            <span class="products-tile__name">pfl-sc sensor</span>
            <div class="products-tile__prices-box">
              <span class="products-tile__current-price">7,358.0 ₸</span>
              <span class="products-tile__price products-tile__price--crossedout"></span>
              <span class="products-tile__price products-tile__price--discount"></span>
            </div>
            <span class="products-tile__discount"></span>
            <a class="products-tile__link" href="#">выбрать...</a>
          </div>

          <span class="products-tile__action"></span>
        </li>

        <li class="products-tile__item">
          <a class="products-tile__img-link" href="#">
            <img class="products-tile__img" src="images/products/pbh-pc4-ra_12w.png" alt="pgx70_15254-06">
          </a>
          <div class="products-tile__text-box">
            <span class="products-tile__name">pbh-pc4</span>
            <div class="products-tile__prices-box">
              <span class="products-tile__current-price">2,294.0 ₸</span>
              <span class="products-tile__price products-tile__price--crossedout"></span>
              <span class="products-tile__price products-tile__price--discount"></span>
            </div>
            <span class="products-tile__discount"></span>
            <a class="products-tile__link" href="#">выбрать...</a>
          </div>

          <span class="products-tile__action"></span>
        </li>
      </ul>
    </div>
  </div>
</section>