<section class="categories">
  <div class="container">
    <h2 class="title categories__title">Основные категории</h2>
    <ul class="categories__list">
      <li class="categories__item">
        <a class="categories__link" href="interior-lighting-page.html">
          <img class="categories__img" src="images/categories/1.jpg" alt="Категории">
          <div class="categories__overlay">
            <h3 class="categories__overlay-title">внутренне освещение</h3>
            <div class="categories__text">
              <p>
                Светильники, трековые системы освещения, управление освещением и др.
              </p>
            </div>
          </div>
        </a>
      </li>
      <li class="categories__item">
        <a class="categories__link" href="outdoor-lighting-page.html">
          <img class="categories__img" src="images/categories/2.jpg" alt="Категории">
          <div class="categories__overlay">
            <h3 class="categories__overlay-title">наружное освещение</h3>
            <div class="categories__text">
              <p>
                Прожекторы, архитектурное, ландшафтное и уличное совещение.
              </p>
            </div>
          </div>
        </a>
      </li>
      <li class="categories__item">
        <a class="categories__link" href="sources-light-page.html">
          <img class="categories__img" src="images/categories/3.jpg" alt="Категории">
          <div class="categories__overlay">
            <h3 class="categories__overlay-title">источники света</h3>
            <div class="categories__text">
              <p>
                Светодиодные, люминисцентные, декоративные лампы и др.
              </p>
            </div>
          </div>
        </a>
      </li>
    </ul>
  </div>
</section>