<div class="checkout__coupons">
  <div class="checkout__coupons-questionbox">
    <p>
      У вас есть купон?
    </p>
    <button class="checkout__coupons-question" type="button">Введите код купона</button>
  </div>

  <div class="checkout__coupons-body">
    <form class="checkout__coupons-form">
      <input class="checkout__coupons-input checkout__input" type="text" placeholder="Код купона">
      <button class="checkout__coupons-btn link-button link-button--checkout" type="submit">применить купон</button>
    </form>
  </div>
</div>

<div class="checkout__details">
  <div class="checkout__forms">
    <form class="checkout__payment-form checkout__form">
      <h3 class="checkout__form-title">Детали оплаты</h3>
      <label class="checkout__label" for="name">Имя <span>*</span></label>
      <input class="checkout__input" type="text" id="name">

      <label class="checkout__label" for="surname">Фамилия <span>*</span></label>
      <input class="checkout__input" type="text" id="surname">

      <label class="checkout__label" for="company">Название компании</label>
      <input class="checkout__input" type="text" id="company">

      <label class="checkout__label" for="address">Адрес <span>*</span></label>
      <input class="checkout__input" type="text" id="address" placeholder="Номер дома и название улицы">

      <label class="checkout__label" for="city">Город <span>*</span></label>
      <input class="checkout__input" type="text" id="city">

      <label class="checkout__label" for="region">Область/регион <span>*</span></label>
      <input class="checkout__input" type="text" id="region">

      <label class="checkout__label" for="phone">Телефон <span>*</span></label>
      <input class="checkout__input" type="tel" id="phone">

      <label class="checkout__label" for="email">Email <span>*</span></label>
      <input class="checkout__input" type="email" id="email">

      <label class="checkout__label" for="index">Почтовый индекс <span>*</span></label>
      <input class="checkout__input" type="text" id="index">

      <label class="checkout__label" for="message">Примечание к заказу</label>
      <textarea class="checkout__textarea" id="message"
        placeholder="Примечания к вашему заказу, например, особые пожелания отделу доставки"></textarea>
    </form>

    <form class="checkout__delivery-form checkout__form">
      <label class="checkout__delivery-label">
        <input class="checkout__delivery-checkbox" type="checkbox">
        <span class="checkout__checkbox-style"></span>
        Доставка по другому адресу?
      </label>

      <div class="checkout__delivery-box">
        <label class="checkout__label" for="name">Имя <span>*</span></label>
        <input class="checkout__input" type="text" id="name">

        <label class="checkout__label" for="surname">Фамилия <span>*</span></label>
        <input class="checkout__input" type="text" id="surname">

        <label class="checkout__label" for="company">Название компании</label>
        <input class="checkout__input" type="text" id="company">

        <label class="checkout__label" for="address">Адрес <span>*</span></label>
        <input class="checkout__input" type="text" id="address" placeholder="Номер дома и название улицы">

        <label class="checkout__label" for="city">Город <span>*</span></label>
        <input class="checkout__input" type="text" id="city">

        <label class="checkout__label" for="region">Область/регион <span>*</span></label>
        <input class="checkout__input" type="text" id="region">

        <label class="checkout__label" for="phone">Телефон <span>*</span></label>
        <input class="checkout__input" type="tel" id="phone">

        <label class="checkout__label" for="email">Email <span>*</span></label>
        <input class="checkout__input" type="email" id="email">

        <label class="checkout__label" for="index">Почтовый индекс <span>*</span></label>
        <input class="checkout__input" type="text" id="index">
      </div>
    </form>
  </div>
</div>