<section class="products-tile products-tile--discount">
  <div class="container">
    <h2 class="products-tile__title title">Товары со скидкой</h2>

    <div class="products-tile__wrap">
      <ul class="products-tile__list products-tile__list--discount">
        <li class="products-tile__item">
          <a class="products-tile__img-link" href="#">
            <img class="products-tile__img" src="images/products/ppb_diamond.png" alt="phb-ufo">
          </a>
          <div class="products-tile__text-box">
            <span class="products-tile__name">ppb_diamond</span>
            <div class="products-tile__prices-box">
              <span class="products-tile__current-price"></span>
              <span class="products-tile__price products-tile__price--crossedout">20,234.0 ₸</span>
              <span class="products-tile__price products-tile__price--discount">18,818.0 ₸</span>
            </div>
            <span class="products-tile__discount">Скидка: 7%</span>
            <a class="products-tile__link" href="#">выбрать...</a>
          </div>

          <span class="products-tile__action">Акция!</span>
        </li>

        <li class="products-tile__item">
          <a class="products-tile__img-link" href="#">
            <img class="products-tile__img" src="images/products/ppb_tangle.png" alt="phb-smd_100w_120d">
          </a>
          <div class="products-tile__text-box">
            <span class="products-tile__name">ppb_tangle</span>
            <div class="products-tile__prices-box">
              <span class="products-tile__current-price"></span>
              <span class="products-tile__price products-tile__price--crossedout">19,300.0 ₸</span>
              <span class="products-tile__price products-tile__price--discount">17,950.0 ₸</span>
            </div>
            <span class="products-tile__discount">Скидка: 7%</span>
            <a class="products-tile__link" href="#">выбрать...</a>
          </div>

          <span class="products-tile__action">Акция!</span>
        </li>

        <li class="products-tile__item">
          <a class="products-tile__img-link" href="#">
            <img class="products-tile__img" src="images/products/ppl-595.png" alt="phb-smd_50w_60d">
          </a>
          <div class="products-tile__text-box">
            <span class="products-tile__name">ppl-595/u opal</span>
            <div class="products-tile__prices-box">
              <span class="products-tile__current-price"></span>
              <span class="products-tile__price products-tile__price--crossedout">4,009.0 ₸</span>
              <span class="products-tile__price products-tile__price--discount">3,729.0 ₸</span>
            </div>
            <span class="products-tile__discount">Скидка: 7%</span>
            <a class="products-tile__link" href="#">выбрать...</a>
          </div>

          <span class="products-tile__action">Акция!</span>
        </li>

        <li class="products-tile__item">
          <a class="products-tile__img-link" href="#">
            <img class="products-tile__img" src="images/products/ppb_magic.png" alt="ppi_100w_2017-1">
          </a>
          <div class="products-tile__text-box">
            <span class="products-tile__name">ppb_magic</span>
            <div class="products-tile__prices-box">
              <span class="products-tile__current-price"></span>
              <span class="products-tile__price products-tile__price--crossedout">25,901.0 ₸</span>
              <span class="products-tile__price products-tile__price--discount">19,537.0 ₸</span>
            </div>
            <span class="products-tile__discount">Скидка: 7%</span>
            <a class="products-tile__link" href="#">выбрать...</a>
          </div>

          <span class="products-tile__action">Акция!</span>
        </li>

        <li class="products-tile__item">
          <a class="products-tile__img-link" href="#">
            <img class="products-tile__img" src="images/products/ppb_planet.png" alt="pgx70_15254-06">
          </a>
          <div class="products-tile__text-box">
            <span class="products-tile__name">ppb_planet</span>
            <div class="products-tile__prices-box">
              <span class="products-tile__current-price"></span>
              <span class="products-tile__price products-tile__price--crossedout">18,405.0 ₸</span>
              <span class="products-tile__price products-tile__price--discount">17,117.0 ₸</span>
            </div>
            <span class="products-tile__discount">Скидка: 7%</span>
            <a class="products-tile__link" href="#">выбрать...</a>
          </div>

          <span class="products-tile__action">Акция!</span>
        </li>
      </ul>

      <a class="link-button link-button--discount wow animate__bounceInUp" href="#">
        все товары со скидкой
        <svg class="link-button__svg" width="13" height="13">
          <use xlink:href="images/svg-sprite/sprite.svg#angles-right"></use>
        </svg>
      </a>
    </div>
  </div>
</section>