<section class="first-screen" style="background-image: url('images/bg/header-bg.jpg')">
  <div class="first-screen__text-box">
    <p class="first-screen__above-title wow animate__bounceInDown">
      Ваш лучший выбор
    </p>
    <h1 class="first-screen__title wow animate__fadeInLeft">Внутреннее и наружное освещение</h1>
    <p class="first-screen__under-title wow animate__fadeInRight">
      Добавьте света в свой интерьер
    </p>
    <a class="first-screen__link link-button wow animate__bounceInUp" href="#">
      основные категории
      <svg class="link-button__svg" width="13" height="13">
        <use xlink:href="images/svg-sprite/sprite.svg#angles-right"></use>
      </svg>
    </a>
  </div>
</section>