<div class="header__nav">
  <div class="logo">
    <a class="logo__link" href="#">
      <img class="logo__img" src="images/header/logo.png" alt="Логотип">
    </a>
  </div>

  <div class="header__box">
    <ul class="header__list">
      <li class="header__item">
        <a class="header__link" href="#">О нас</a>
      </li>
      <li class="header__item">
        <a class="header__link" href="#">магазин</a>
      </li>
      <li class="header__item">
        <a class="header__link" href="#">контакты</a>
      </li>
      <li class="header__item">
        <a class="header__link" href="#">мой аккаунт</a>
      </li>
      <li class="header__item">
        <a class="header__link" href="#">оформление заказа</a>
      </li>
    </ul>

    <div class="header__cart">
      <a class="header__cart-link" href="#">
        <svg class="header__cart-svg" width="20" height="18">
          <use xlink:href="images/svg-sprite/sprite.svg#cart"></use>
        </svg>
        <span class="header__quantity-products">0</span>
        <span class="header__products">товаров - </span>
        <span class="header__sum">0.0 ₸</span>
      </a>
    </div>
  </div>
</div>