<section class="led">
  <div class="container">
    <h2 class="title led__main-title">LED технологии и их преимущества</h2>
  </div>
  <div class="led__wrap" style="background-image: url('images/bg/led-bg.jpg')">
    <div class="container">

      <div class="led__text-box">
        <h3 class="led__title">Современные LED технологии</h3>
        <div class="led__text">
          <p>
            Еще совсем недавно, многие не могли себе представить, что LED-технологии станут частью повседневного быта, а
            сфера их
            применения перестанет ограничиваться индикаторами электронных приборов, информационными табло и игрушками.

            Причиной такой растущей популярности светодиодов, является целый ряд преимуществ перед остальными
            источниками
            света:
          </p>
        </div>

        <h3 class="led__title">Преимущества LED</h3>
        <ul class="led__text led__list">
          <li class="led__item">
            <p>
              Первый и весьма важный плюс — это чрезвычайно долгий срок службы светодиодов (ориентировочно 50 000
              часов).
            </p>
          </li>
          <li class="led__item">
            <p>
              Минимальное энергопотребление по сравнению с другими источниками света.
            </p>
          </li>
          <li class="led__item">
            <p>
              Экономический подход — сочетание долговечности и экономии электроэнергии.
            </p>
          </li>
          <li class="led__item">
            <p>
              Высокая светоотдача. Практически всю получаемую энергию светодиод преобразует в свет. В отличии например,
              от
              лампы
              накаливания, которая при равной мощности дает света меньше, а выделяет тепла в разы больше.
            </p>
          </li>
          <li class="led__item">
            <p>
              Возможность выбора цветовой температуры светодиода. В зависимости от цели освещения: от привычного теплого
              белого света
              лампы накаливания (2700-3000К) до холодного белого или дневного света (6500К).
            </p>
          </li>
          <li class="led__item">
            <p>
              Если стоит задача цветной декоративной подсветки, то RGB светодиоды — лучшее решение. Так как количество
              цветов и сцен
              освещения ограничивается лишь фантазией дизайнера. Они дают возможность организовать подсветку любого из
              цветов спектра
              и менять ее с помощью специального контроллера по своему усмотрению.
            </p>
          </li>
          <li class="led__item">
            <p>
              Светодиодные светильники можно диммировать (регулировать яркость света).
            </p>
          </li>
          <li class="led__item">
            <p>
              Светодиод не нагревается, так как работает на низковольтном напряжении, что обеспечивает высокую степень
              пожарной
              безопасности. Благодаря этому свойству LED все чаще используются во встраиваемых в пол светильниках,
              потому
              что риск
              получить ожег, наступив на него босой ногой, сводится к нулю.
            </p>
          </li>
          <li class="led__item">
            <p>
              Светодиоды устойчивы к механическим повреждениям из-за отсутствия у них хрупких элементов, таких
              как-стеклянная колба
              или нить накаливания.
            </p>
          </li>
          <li class="led__item">
            <p>
              Отсутствие фосфора, ртути и других токсичных элементов позволяет говорить об экологичности и безопасности
              этого
              источника света.
            </p>
          </li>
        </ul>

        <h3 class="led__title">Ваш выбор</h3>
        <div class="led__text">
          <p>
            Светодиодное освещение с момента своего возникновения прошло долгий период усовершенствования В результате
            мы имеем
            современные LED светильники. Они отличаются высоким качеством светового потока, экономичностью и
            эффективностью. Поэтому
            они постепенно вытесняют другие источники света. И это не странно, ведь замена обычных ламп на светодиодные
            ведет к
            снижению затрат на электричество до 70% даже в круглосуточном режиме работы. А учитывая постоянный рост
            тарифов на
            электроэнергию, такое экономично выгодное освещение является идеальным вариантом для использования в
            промышленных
            масштабах.
          </p>
        </div>

        <a class="led__link link-button wow animate__bounceInUp" href="#">
          Подробнее о светодиодных лампах
          <svg class="link-button__svg" width="13" height="13">
            <use xlink:href="images/svg-sprite/sprite.svg#angles-right"></use>
          </svg>
        </a>
      </div>
    </div>
  </div>
</section>