<section class="news">
  <div class="container">
    <h2 class="title news__title">Новости</h2>
  </div>
  <div class="news__wrapper" style="background-image: url('images/bg/news-bg.jpg');">
    <div class="container">
      <ul class="news__list">
        <li class="news__item">
          <article class="news__article">
            <a class="news__img-link" href="#">
              <img class="news__img" src="images/news/1.png" alt="новости">
            </a>
            <div class="news__text-box">
              <h3 class="news__item-title">Новости</h3>
              <div class="news__meta">
                <a class="news__meta-link" href="#">Shanghai</a>
                <span>Октябрь 25, 2022</span>
                <a class="news__meta-link" href="#">Новости</a>
              </div>
              <div class="news__content">
                <p>
                  29 сентября, Казань. XXVI электротехническая выставка «Город Света». Выставка входит в число
                  крупнейших
                  мероприятий
                  отрасли и пройдет в павильонах МВЦ «Казань Экспо». Организатор - «Русский Свет», один из ведущих в
                  поставщиков
                  электротехники с 27-летней историей.

                  «Город Света» будет интересен промышленным предприятиям, строительно-монтажным организациям, проектным
                  институтам,
                  предприятиям оптовой и розничной торговли, сборщикам щитового оборудования и частным монтажникам.
                </p>
              </div>
              <a class="news__link" href="#">Перейти</a>
            </div>
          </article>
        </li>

        <li class="news__item">
          <article class="news__article">
            <a class="news__img-link" href="#">
              <img class="news__img" src="images/news/2.png" alt="новости">
            </a>
            <div class="news__text-box">
              <h3 class="news__item-title">Новости</h3>
              <div class="news__meta">
                <a class="news__meta-link" href="#">Shanghai</a>
                <span>Октябрь 25, 2022</span>
                <a class="news__meta-link" href="#">Новости</a>
              </div>
              <div class="news__content">
                <p>
                  - Максимальная скидка на наш проектный ассортимент по зарегистрированным проектам

                  - Данные условия актуальны для всех проектов, зарегистрированных в период с 16.05.2022 до 30.11.2022.

                  - Увеличен список проектных позиций, введена новая градация проектных позиций – «Проектный ассортимент
                  +»
                  с
                  увеличенной
                  глубиной скидки.

                  - Произошло перераспределение проектных позиций между разделами «Проектный ассортимент» и «Проектный
                  ассортимент +». В
                  последний вошло большинство специальных проектных изделий с повышенной гарантией и высокими
                  параметрами
                  в
                  фотометрических и технологических аспектах.

                  - Для удобства пользователей создан файл «Проектная идентификация светильников JAZZWAY»
                </p>
              </div>
              <a class="news__link" href="#">Перейти</a>
            </div>
          </article>
        </li>

        <li class="news__item">
          <article class="news__article">
            <a class="news__img-link" href="#">
              <img class="news__img" src="images/news/3.png" alt="новости">
            </a>
            <div class="news__text-box">
              <h3 class="news__item-title">Новости</h3>
              <div class="news__meta">
                <a class="news__meta-link" href="#">Shanghai</a>
                <span>Октябрь 25, 2022</span>
                <a class="news__meta-link" href="#">Новости</a>
              </div>
              <div class="news__content">
                <p>
                  26 мая в г. Челябинск в спортивном комплексе «Уральская Молния»
                  состоится «Форум электротехники и инженерных систем» ЭТМ. Это крупнейшее мероприятие для
                  профессионалов
                  рынка
                  электротехники Уральского региона.
                  Форум электротехники и инженерных систем - традиционно сопровождает насыщенная деловая программа.
                  Каждый
                  посетитель, от
                  частного электромонтажника до руководителя крупного промышленного предприятия, сможет провести время
                  на
                  Форуме
                  максимально эффективно.
                  Мероприятие в Челябинске обещает стать ярким и динамичным событием, которое объединит всех участников
                  рынка.
                  Приглашаем Вас посетить стенд JAZZWAY и ФАZА. Наши представители продемонстрируют новинки продукции, а
                  также
                  ответят на
                  все интересующие вопросы.

                  Будем рады Вас видеть 26 мая
                  По адресу: г. Челябинск, ул. Труда, 187А
                  спортивный комплекс «Уральская Молния»
                  Вход свободный
                </p>
              </div>
              <a class="news__link" href="#">Перейти</a>
            </div>
          </article>
        </li>
      </ul>
    </div>
  </div>
</section>