<div class="shop-top">
  <p>
    Отображение <span class="shop-top__product-show">1–20</span> из <span class="shop-top__product-quantity">100</span>
    результатов
  </p>

  <form class="sort-form">
    <select name="sort" id="sort">
      <option value="initial">Исходная сортировка</option>
      <option value=popular">По популярности</option>
      <option value="rating">По рейтингу</option>
      <option value="late">По более позднему</option>
      <option value="increase">Цена по возрастанию</option>
      <option value="descending">Цена по убыванию</option>
    </select>
  </form>
</div>

<div class="products-tile">
  <div class="products-tile__wrap">
    <ul class="products-tile__list">
      <li class="products-tile__item">
        <a class="products-tile__img-link" href="product-single-page.html">
          <img class="products-tile__img" src="images/products/interior-light/pdl-r_25w.png" alt="phb-ufo">
        </a>
        <div class="products-tile__text-box">
          <span class="products-tile__name" title="PDL-R">PDL-R</span>
          <div class="products-tile__prices-box">
            <span class="products-tile__current-price">35,595.0 ₸</span>
            <span class="products-tile__price products-tile__price--crossedout"></span>
            <span class="products-tile__price products-tile__price--discount"></span>
          </div>
          <span class="products-tile__discount-percent"></span>
          <div class="products-tile__link-box">
            <a class="products-tile__link" href="product-single-page.html">перейти</a>
            <button class="products-tile__link" type="button">в корзину</button>
          </div>
        </div>

        <span class="products-tile__action"></span>
      </li>

      <li class="products-tile__item">
        <a class="products-tile__img-link" href="product-single-page.html">
          <img class="products-tile__img" src="images/products/interior-light/pled_t5i-pl_0.png"
            alt="phb-smd_100w_120d">
        </a>
        <div class="products-tile__text-box">
          <span class="products-tile__name" title="PLED Т5i PL">PLED Т5i PL</span>
          <div class="products-tile__prices-box">
            <span class="products-tile__current-price">93,671.0 ₸</span>
            <span class="products-tile__price products-tile__price--crossedout"></span>
            <span class="products-tile__price products-tile__price--discount"></span>
          </div>
          <span class="products-tile__discount-percent"></span>
          <div class="products-tile__link-box">
            <a class="products-tile__link" href="product-single-page.html">перейти</a>
            <button class="products-tile__link" type="button">в корзину</button>
          </div>
        </div>

        <span class="products-tile__action"></span>
      </li>

      <li class="products-tile__item">
        <a class="products-tile__img-link" href="product-single-page.html">
          <img class="products-tile__img" src="images/products/interior-light/ppb-astra.png" alt="phb-smd_50w_60d">
        </a>
        <div class="products-tile__text-box">
          <span class="products-tile__name" title="PPB ASTRA">PPB ASTRA</span>
          <div class="products-tile__prices-box">
            <span class="products-tile__current-price">46,836.0 ₸</span>
            <span class="products-tile__price products-tile__price--crossedout"></span>
            <span class="products-tile__price products-tile__price--discount"></span>
          </div>
          <span class="products-tile__discount-percent"></span>
          <div class="products-tile__link-box">
            <a class="products-tile__link" href="product-single-page.html">перейти</a>
            <button class="products-tile__link" type="button">в корзину</button>
          </div>
        </div>

        <span class="products-tile__action"></span>
      </li>

      <li class="products-tile__item">
        <a class="products-tile__img-link" href="product-single-page.html">
          <img class="products-tile__img" src="images/products/interior-light/ppb-bubble.png" alt="ppi_100w_2017-1">
        </a>
        <div class="products-tile__text-box">
          <span class="products-tile__name" title="PPB BUBBLE">PPB BUBBLE</span>
          <div class="products-tile__prices-box">
            <span class="products-tile__current-price">68,085.0 ₸</span>
            <span class="products-tile__price products-tile__price--crossedout"></span>
            <span class="products-tile__price products-tile__price--discount"></span>
          </div>
          <span class="products-tile__discount-percent"></span>
          <div class="products-tile__link-box">
            <a class="products-tile__link" href="product-single-page.html">перейти</a>
            <button class="products-tile__link" type="button">в корзину</button>
          </div>
        </div>

        <span class="products-tile__action"></span>
      </li>

      <li class="products-tile__item">
        <a class="products-tile__img-link" href="product-single-page.html">
          <img class="products-tile__img" src="images/products/interior-light/ppb_diamond_60w.png" alt="pgx70_15254-06">
        </a>
        <div class="products-tile__text-box">
          <span class="products-tile__name" title="PPB DIAMOND">PPB DIAMOND</span>
          <div class="products-tile__prices-box">
            <span class="products-tile__current-price">1,301.0 ₸</span>
            <span class="products-tile__price products-tile__price--crossedout"></span>
            <span class="products-tile__price products-tile__price--discount"></span>
          </div>
          <span class="products-tile__discount-percent"></span>
          <div class="products-tile__link-box">
            <a class="products-tile__link" href="product-single-page.html">перейти</a>
            <button class="products-tile__link" type="button">в корзину</button>
          </div>
        </div>

        <span class="products-tile__action"></span>
      </li>

      <li class="products-tile__item">
        <a class="products-tile__img-link" href="product-single-page.html">
          <img class="products-tile__img" src="images/products/interior-light/ppb-faery.png" alt="PGX53">
        </a>
        <div class="products-tile__text-box">
          <span class="products-tile__name" title="PPB FAERY">PPB FAERY</span>
          <div class="products-tile__prices-box">
            <span class="products-tile__current-price">524.0 ₸</span>
            <span class="products-tile__price products-tile__price--crossedout"></span>
            <span class="products-tile__price products-tile__price--discount"></span>
          </div>
          <span class="products-tile__discount-percent"></span>
          <div class="products-tile__link-box">
            <a class="products-tile__link" href="product-single-page.html">перейти</a>
            <button class="products-tile__link" type="button">в корзину</button>
          </div>
        </div>

        <span class="products-tile__action"></span>
      </li>

      <li class="products-tile__item">
        <a class="products-tile__img-link" href="product-single-page.html">
          <img class="products-tile__img" src="images/products/interior-light/ppb_magic-r.png" alt="pled_dl2">
        </a>
        <div class="products-tile__text-box">
          <span class="products-tile__name" title="PPB MAGIC">PPB MAGIC</span>
          <div class="products-tile__prices-box">
            <span class="products-tile__current-price">2,602.0 ₸</span>
            <span class="products-tile__price products-tile__price--crossedout"></span>
            <span class="products-tile__price products-tile__price--discount"></span>
          </div>
          <span class="products-tile__discount-percent"></span>
          <div class="products-tile__link-box">
            <a class="products-tile__link" href="product-single-page.html">перейти</a>
            <button class="products-tile__link" type="button">в корзину</button>
          </div>
        </div>

        <span class="products-tile__action"></span>
      </li>

      <li class="products-tile__item">
        <a class="products-tile__img-link" href="product-single-page.html">
          <img class="products-tile__img" src="images/products/interior-light/ppb_opal_80w.png" alt="psp_s_212">
        </a>
        <div class="products-tile__text-box">
          <span class="products-tile__name" title="PPB OPAL">PPB OPAL</span>
          <div class="products-tile__prices-box">
            <span class="products-tile__current-price">1,431.0 ₸</span>
            <span class="products-tile__price products-tile__price--crossedout"></span>
            <span class="products-tile__price products-tile__price--discount"></span>
          </div>
          <span class="products-tile__discount-percent"></span>
          <div class="products-tile__link-box">
            <a class="products-tile__link" href="product-single-page.html">перейти</a>
            <button class="products-tile__link" type="button">в корзину</button>
          </div>
        </div>

        <span class="products-tile__action"></span>
      </li>

      <li class="products-tile__item">
        <a class="products-tile__img-link" href="product-single-page.html">
          <img class="products-tile__img" src="images/products/interior-light/ppb_planet_60w.png" alt="psp-s_cardan">
        </a>
        <div class="products-tile__text-box">
          <span class="products-tile__name" title="PPB PLANET">PPB PLANET</span>
          <div class="products-tile__prices-box">
            <span class="products-tile__current-price">10,113.0 ₸</span>
            <span class="products-tile__price products-tile__price--crossedout"></span>
            <span class="products-tile__price products-tile__price--discount"></span>
          </div>
          <span class="products-tile__discount-percent"></span>
          <div class="products-tile__link-box">
            <a class="products-tile__link" href="product-single-page.html">перейти</a>
            <button class="products-tile__link" type="button">в корзину</button>
          </div>
        </div>

        <span class="products-tile__action"></span>
      </li>

      <li class="products-tile__item">
        <a class="products-tile__img-link" href="product-single-page.html">
          <img class="products-tile__img" src="images/products/interior-light/ppb-shell.png" alt="psp-s_5w">
        </a>
        <div class="products-tile__text-box">
          <span class="products-tile__name" title="PPB SHELL">PPB SHELL</span>
          <div class="products-tile__prices-box">
            <span class="products-tile__current-price">792.0 ₸</span>
            <span class="products-tile__price products-tile__price--crossedout"></span>
            <span class="products-tile__price products-tile__price--discount"></span>
          </div>
          <span class="products-tile__discount-percent"></span>
          <div class="products-tile__link-box">
            <a class="products-tile__link" href="product-single-page.html">перейти</a>
            <button class="products-tile__link" type="button">в корзину</button>
          </div>
        </div>

        <span class="products-tile__action"></span>
      </li>

      <li class="products-tile__item">
        <a class="products-tile__img-link" href="product-single-page.html">
          <img class="products-tile__img" src="images/products/interior-light/ppb_starway.png" alt="psp-r_9044_silver">
        </a>
        <div class="products-tile__text-box">
          <span class="products-tile__name" title="PPB STARWAY">PPB STARWAY</span>
          <div class="products-tile__prices-box">
            <span class="products-tile__current-price">1,011.0 ₸</span>
            <span class="products-tile__price products-tile__price--crossedout"></span>
            <span class="products-tile__price products-tile__price--discount"></span>
          </div>
          <span class="products-tile__discount-percent"></span>
          <div class="products-tile__link-box">
            <a class="products-tile__link" href="product-single-page.html">перейти</a>
            <button class="products-tile__link" type="button">в корзину</button>
          </div>
        </div>

        <span class="products-tile__action"></span>
      </li>

      <li class="products-tile__item">
        <a class="products-tile__img-link" href="product-single-page.html">
          <img class="products-tile__img" src="images/products/interior-light/ppb_tangle_60w.png" alt="psp-r_9044_gold">
        </a>
        <div class="products-tile__text-box">
          <span class="products-tile__name" title="PPB TANGLE">PPB TANGLE</span>
          <div class="products-tile__prices-box">
            <span class="products-tile__current-price">1,011.0 ₸</span>
            <span class="products-tile__price products-tile__price--crossedout"></span>
            <span class="products-tile__price products-tile__price--discount"></span>
          </div>
          <span class="products-tile__discount-percent"></span>
          <div class="products-tile__link-box">
            <a class="products-tile__link" href="product-single-page.html">перейти</a>
            <button class="products-tile__link" type="button">в корзину</button>
          </div>
        </div>

        <span class="products-tile__action"></span>
      </li>

      <li class="products-tile__item">
        <a class="products-tile__img-link" href="product-single-page.html">
          <img class="products-tile__img" src="images/products/interior-light/ppo-smd_600.png" alt="pled-t8-pc-green">
        </a>
        <div class="products-tile__text-box">
          <span class="products-tile__name" title="PPO 1200 AL (аналог ЛПО)">PPO 1200 AL (аналог ЛПО)</span>
          <div class="products-tile__prices-box">
            <span class="products-tile__current-price">2,716.0 ₸</span>
            <span class="products-tile__price products-tile__price--crossedout"></span>
            <span class="products-tile__price products-tile__price--discount"></span>
          </div>
          <span class="products-tile__discount-percent"></span>
          <div class="products-tile__link-box">
            <a class="products-tile__link" href="product-single-page.html">перейти</a>
            <button class="products-tile__link" type="button">в корзину</button>
          </div>
        </div>

        <span class="products-tile__action"></span>
      </li>

      <li class="products-tile__item">
        <a class="products-tile__img-link" href="product-single-page.html">
          <img class="products-tile__img" src="images/products/interior-light/ppo-smd_600.png"
            alt="pled-a60_buglight_10w_yellow">
        </a>
        <div class="products-tile__text-box">
          <span class="products-tile__name" title="PPO 1200 PL (аналог ЛПО)">PPO 1200 PL (аналог ЛПО)</span>
          <div class="products-tile__prices-box">
            <span class="products-tile__current-price">1,821.0 ₸</span>
            <span class="products-tile__price products-tile__price--crossedout"></span>
            <span class="products-tile__price products-tile__price--discount"></span>
          </div>
          <span class="products-tile__discount-percent"></span>
          <div class="products-tile__link-box">
            <a class="products-tile__link" href="product-single-page.html">перейти</a>
            <button class="products-tile__link" type="button">в корзину</button>
          </div>
        </div>

        <span class="products-tile__action"></span>
      </li>

      <li class="products-tile__item">
        <a class="products-tile__img-link" href="product-single-page.html">
          <img class="products-tile__img" src="images/products/interior-light/ppo-lpng.png" alt="lamp_par38_15w">
        </a>
        <div class="products-tile__text-box">
          <span class="products-tile__name" title="PPO 1200/L 40W (аналог ЛПО)">PPO 1200/L 40W (аналог ЛПО)</span>
          <div class="products-tile__prices-box">
            <span class="products-tile__current-price">6,071.0 ₸</span>
            <span class="products-tile__price products-tile__price--crossedout"></span>
            <span class="products-tile__price products-tile__price--discount"></span>
          </div>
          <span class="products-tile__discount-percent"></span>
          <div class="products-tile__link-box">
            <a class="products-tile__link" href="product-single-page.html">перейти</a>
            <button class="products-tile__link" type="button">в корзину</button>
          </div>
        </div>

        <span class="products-tile__action"></span>
      </li>

      <li class="products-tile__item">
        <a class="products-tile__img-link" href="product-single-page.html">
          <img class="products-tile__img" src="images/products/interior-light/ppo-1200s.png" alt="pled-t26_2wall">
        </a>
        <div class="products-tile__text-box">
          <span class="products-tile__name" title="PPO 1200/S 36W">PPO 1200/S 36W</span>
          <div class="products-tile__prices-box">
            <span class="products-tile__current-price">1,001.0 ₸</span>
            <span class="products-tile__price products-tile__price--crossedout"></span>
            <span class="products-tile__price products-tile__price--discount"></span>
          </div>
          <span class="products-tile__discount-percent"></span>
          <div class="products-tile__link-box">
            <a class="products-tile__link" href="product-single-page.html">перейти</a>
            <button class="products-tile__link" type="button">в корзину</button>
          </div>
        </div>

        <span class="products-tile__action"></span>
      </li>
      <li class="products-tile__item">
        <a class="products-tile__img-link" href="product-single-page.html">
          <img class="products-tile__img" src="images/products/interior-light/ppo-smd_600.png" alt="pmg_002_led">
        </a>
        <div class="products-tile__text-box">
          <span class="products-tile__name" title="PPO 600 AL (аналог ЛПО)">PPO 1500 (аналог ЛПО)</span>
          <div class="products-tile__prices-box">
            <span class="products-tile__current-price">8,763.0 ₸</span>
            <span class="products-tile__price products-tile__price--crossedout"></span>
            <span class="products-tile__price products-tile__price--discount"></span>
          </div>
          <span class="products-tile__discount-percent"></span>
          <div class="products-tile__link-box">
            <a class="products-tile__link" href="product-single-page.html">перейти</a>
            <button class="products-tile__link" type="button">в корзину</button>
          </div>
        </div>

        <span class="products-tile__action"></span>
      </li>
      <li class="products-tile__item">
        <a class="products-tile__img-link" href="product-single-page.html">
          <img class="products-tile__img" src="images/products/interior-light/ppo-smd_600.png" alt="pmg_002_led">
        </a>
        <div class="products-tile__text-box">
          <span class="products-tile__name" title="PPO 600 AL (аналог ЛПО)">PPO 600 AL (аналог ЛПО)</span>
          <div class="products-tile__prices-box">
            <span class="products-tile__current-price">8,763.0 ₸</span>
            <span class="products-tile__price products-tile__price--crossedout"></span>
            <span class="products-tile__price products-tile__price--discount"></span>
          </div>
          <span class="products-tile__discount-percent"></span>
          <div class="products-tile__link-box">
            <a class="products-tile__link" href="product-single-page.html">перейти</a>
            <button class="products-tile__link" type="button">в корзину</button>
          </div>
        </div>

        <span class="products-tile__action"></span>
      </li>
      <li class="products-tile__item">
        <a class="products-tile__img-link" href="product-single-page.html">
          <img class="products-tile__img" src="images/products/interior-light/ppo-smd_600.png" alt="ppg-wp_agro_4">
        </a>
        <div class="products-tile__text-box">
          <span class="products-tile__name" title="PPO 600 PL (аналог ЛПО)">PPO 600 PL (аналог ЛПО)</span>
          <div class="products-tile__prices-box">
            <span class="products-tile__current-price">9,974.0 ₸</span>
            <span class="products-tile__price products-tile__price--crossedout"></span>
            <span class="products-tile__price products-tile__price--discount"></span>
          </div>
          <span class="products-tile__discount-percent"></span>
          <div class="products-tile__link-box">
            <a class="products-tile__link" href="product-single-page.html">перейти</a>
            <button class="products-tile__link" type="button">в корзину</button>
          </div>
        </div>

        <span class="products-tile__action"></span>
      </li>
      <li class="products-tile__item">
        <a class="products-tile__img-link" href="product-single-page.html">
          <img class="products-tile__img" src="images/products/interior-light/ppo-smd_600.png" alt="pled-hp-t_40w_e27">
        </a>
        <div class="products-tile__text-box">
          <span class="products-tile__name" title="PPO 600/K 20W (аналог ЛПО)">PPO 600/K 20W (аналог ЛПО)</span>
          <div class="products-tile__prices-box">
            <span class="products-tile__current-price">1,276.0 ₸</span>
            <span class="products-tile__price products-tile__price--crossedout"></span>
            <span class="products-tile__price products-tile__price--discount"></span>
          </div>
          <span class="products-tile__discount-percent"></span>
          <div class="products-tile__link-box">
            <a class="products-tile__link" href="product-single-page.html">перейти</a>
            <button class="products-tile__link" type="button">в корзину</button>
          </div>
        </div>

        <span class="products-tile__action"></span>
      </li>
    </ul>

    <div class="pagination">
      <ul class="pagination__items">
        <li class="pagination__item pagination__item-arrow pagination__item-arrow--prev">
          <a class="pagination__item-link pagination__item-link--arrow" href="#">
            <svg class="pagination__arrow pagination__arrow-prev" width="25px" height="25px">
              <use xlink:href="images/svg-sprite/sprite.svg#arrow-left"></use>
            </svg>
          </a>
        </li>
        <li class="pagination__item active">
          <a class="pagination__item-link" href="#">1</a>
        </li>
        <li class="pagination__item">
          <a class="pagination__item-link" href="#">2</a>
        </li>
        <li class="pagination__item">
          <a class="pagination__item-link" href="#">3</a>
        </li>
        <li class="pagination__item">
          <a class="pagination__item-link" href="#">4</a>
        </li>
        <li class="pagination__item">
          <a class="pagination__item-link" href="#">5</a>
        </li>
        <li class="pagination__item pagination__item-arrow pagination__item-arrow--next">
          <a class="pagination__item-link pagination__item-link--arrow" href="#">
            <svg class="pagination__arrow pagination__arrow-next" width="25px" height="25px">
              <use xlink:href="images/svg-sprite/sprite.svg#arrow-right"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>