<div class="shop-top">
  <p>
    Отображение <span class="shop-top__product-show">1–20</span> из <span class="shop-top__product-quantity">100</span>
    результатов
  </p>

  <form class="sort-form">
    <select name="sort" id="sort">
      <option value="initial">Исходная сортировка</option>
      <option value=popular">По популярности</option>
      <option value="rating">По рейтингу</option>
      <option value="late">По более позднему</option>
      <option value="increase">Цена по возрастанию</option>
      <option value="descending">Цена по убыванию</option>
    </select>
  </form>
</div>

<div class="products-tile">
  <div class="products-tile__wrap">
    <ul class="products-tile__list">
      <li class="products-tile__item">
        <a class="products-tile__img-link" href="product-single-page.html">
          <img class="products-tile__img" src="images/products/phb-ufo.jpg" alt="phb-ufo">
        </a>
        <div class="products-tile__text-box">
          <span class="products-tile__name" title="phb-ufo">phb-ufo</span>
          <div class="products-tile__prices-box">
            <span class="products-tile__current-price">35,595.0 ₸</span>
            <span class="products-tile__price products-tile__price--crossedout"></span>
            <span class="products-tile__price products-tile__price--discount"></span>
          </div>
          <span class="products-tile__discount-percent"></span>
          <div class="products-tile__link-box">
            <a class="products-tile__link" href="product-single-page.html">перейти</a>
            <button class="products-tile__link" type="button">в корзину</button>
          </div>
        </div>

        <span class="products-tile__action"></span>
      </li>

      <li class="products-tile__item">
        <a class="products-tile__img-link" href="product-single-page.html">
          <img class="products-tile__img" src="images/products/phb-smd_100w_120d.jpg" alt="phb-smd_100w_120d">
        </a>
        <div class="products-tile__text-box">
          <span class="products-tile__name" title="phb-smd/120&#176;">phb-smd/120&#176;</span>
          <div class="products-tile__prices-box">
            <span class="products-tile__current-price">93,671.0 ₸</span>
            <span class="products-tile__price products-tile__price--crossedout"></span>
            <span class="products-tile__price products-tile__price--discount"></span>
          </div>
          <span class="products-tile__discount-percent"></span>
          <div class="products-tile__link-box">
            <a class="products-tile__link" href="product-single-page.html">перейти</a>
            <button class="products-tile__link" type="button">в корзину</button>
          </div>
        </div>

        <span class="products-tile__action"></span>
      </li>

      <li class="products-tile__item">
        <a class="products-tile__img-link" href="product-single-page.html">
          <img class="products-tile__img" src="images/products/phb-smd_50w_60d.jpg" alt="phb-smd_50w_60d">
        </a>
        <div class="products-tile__text-box">
          <span class="products-tile__name" title="phb-smd/60&#176;">phb-smd/60&#176;</span>
          <div class="products-tile__prices-box">
            <span class="products-tile__current-price">46,836.0 ₸</span>
            <span class="products-tile__price products-tile__price--crossedout"></span>
            <span class="products-tile__price products-tile__price--discount"></span>
          </div>
          <span class="products-tile__discount-percent"></span>
          <div class="products-tile__link-box">
            <a class="products-tile__link" href="product-single-page.html">перейти</a>
            <button class="products-tile__link" type="button">в корзину</button>
          </div>
        </div>

        <span class="products-tile__action"></span>
      </li>

      <li class="products-tile__item">
        <a class="products-tile__img-link" href="product-single-page.html">
          <img class="products-tile__img" src="images/products/ppi_100w_2017-1.jpg" alt="ppi_100w_2017-1">
        </a>
        <div class="products-tile__text-box">
          <span class="products-tile__name" title="ppl-01">ppl-01</span>
          <div class="products-tile__prices-box">
            <span class="products-tile__current-price">68,085.0 ₸</span>
            <span class="products-tile__price products-tile__price--crossedout"></span>
            <span class="products-tile__price products-tile__price--discount"></span>
          </div>
          <span class="products-tile__discount-percent"></span>
          <div class="products-tile__link-box">
            <a class="products-tile__link" href="product-single-page.html">перейти</a>
            <button class="products-tile__link" type="button">в корзину</button>
          </div>
        </div>

        <span class="products-tile__action"></span>
      </li>

      <li class="products-tile__item">
        <a class="products-tile__img-link" href="product-single-page.html">
          <img class="products-tile__img" src="images/products/pgx70_15254-06.jpg" alt="pgx70_15254-06">
        </a>
        <div class="products-tile__text-box">
          <span class="products-tile__name" title="pgx70">pgx70</span>
          <div class="products-tile__prices-box">
            <span class="products-tile__current-price">1,301.0 ₸</span>
            <span class="products-tile__price products-tile__price--crossedout"></span>
            <span class="products-tile__price products-tile__price--discount"></span>
          </div>
          <span class="products-tile__discount-percent"></span>
          <div class="products-tile__link-box">
            <a class="products-tile__link" href="product-single-page.html">перейти</a>
            <button class="products-tile__link" type="button">в корзину</button>
          </div>
        </div>

        <span class="products-tile__action"></span>
      </li>

      <li class="products-tile__item">
        <a class="products-tile__img-link" href="product-single-page.html">
          <img class="products-tile__img" src="images/products/pgx53.jpg" alt="PGX53">
        </a>
        <div class="products-tile__text-box">
          <span class="products-tile__name" title="PGX53">PGX53</span>
          <div class="products-tile__prices-box">
            <span class="products-tile__current-price">524.0 ₸</span>
            <span class="products-tile__price products-tile__price--crossedout"></span>
            <span class="products-tile__price products-tile__price--discount"></span>
          </div>
          <span class="products-tile__discount-percent"></span>
          <div class="products-tile__link-box">
            <a class="products-tile__link" href="product-single-page.html">перейти</a>
            <button class="products-tile__link" type="button">в корзину</button>
          </div>
        </div>

        <span class="products-tile__action"></span>
      </li>

      <li class="products-tile__item">
        <a class="products-tile__img-link" href="product-single-page.html">
          <img class="products-tile__img" src="images/products/pled_dl2.jpg" alt="pled_dl2">
        </a>
        <div class="products-tile__text-box">
          <span class="products-tile__name" title="PLED DL2">PLED DL2</span>
          <div class="products-tile__prices-box">
            <span class="products-tile__current-price">2,602.0 ₸</span>
            <span class="products-tile__price products-tile__price--crossedout"></span>
            <span class="products-tile__price products-tile__price--discount"></span>
          </div>
          <span class="products-tile__discount-percent"></span>
          <div class="products-tile__link-box">
            <a class="products-tile__link" href="product-single-page.html">перейти</a>
            <button class="products-tile__link" type="button">в корзину</button>
          </div>
        </div>

        <span class="products-tile__action"></span>
      </li>

      <li class="products-tile__item">
        <a class="products-tile__img-link" href="product-single-page.html">
          <img class="products-tile__img" src="images/products/psp_s_212.jpg" alt="psp_s_212">
        </a>
        <div class="products-tile__text-box">
          <span class="products-tile__name" title="PSP-S CARDAN 2xx">PSP-S CARDAN 2xx</span>
          <div class="products-tile__prices-box">
            <span class="products-tile__current-price">1,431.0 ₸</span>
            <span class="products-tile__price products-tile__price--crossedout"></span>
            <span class="products-tile__price products-tile__price--discount"></span>
          </div>
          <span class="products-tile__discount-percent"></span>
          <div class="products-tile__link-box">
            <a class="products-tile__link" href="product-single-page.html">перейти</a>
            <button class="products-tile__link" type="button">в корзину</button>
          </div>
        </div>

        <span class="products-tile__action"></span>
      </li>

      <li class="products-tile__item">
        <a class="products-tile__img-link" href="product-single-page.html">
          <img class="products-tile__img" src="images/products/psp-s_cardan.jpg" alt="psp-s_cardan">
        </a>
        <div class="products-tile__text-box">
          <span class="products-tile__name" title="PSP-S CARDAN 1xx">PSP-S CARDAN 1xx</span>
          <div class="products-tile__prices-box">
            <span class="products-tile__current-price">10,113.0 ₸</span>
            <span class="products-tile__price products-tile__price--crossedout"></span>
            <span class="products-tile__price products-tile__price--discount"></span>
          </div>
          <span class="products-tile__discount-percent"></span>
          <div class="products-tile__link-box">
            <a class="products-tile__link" href="product-single-page.html">перейти</a>
            <button class="products-tile__link" type="button">в корзину</button>
          </div>
        </div>

        <span class="products-tile__action"></span>
      </li>

      <li class="products-tile__item">
        <a class="products-tile__img-link" href="product-single-page.html">
          <img class="products-tile__img" src="images/products/psp-s_5w.jpg" alt="psp-s_5w">
        </a>
        <div class="products-tile__text-box">
          <span class="products-tile__name" title="PSP-S 8845 5W">PSP-S 8845 5W</span>
          <div class="products-tile__prices-box">
            <span class="products-tile__current-price">792.0 ₸</span>
            <span class="products-tile__price products-tile__price--crossedout"></span>
            <span class="products-tile__price products-tile__price--discount"></span>
          </div>
          <span class="products-tile__discount-percent"></span>
          <div class="products-tile__link-box">
            <a class="products-tile__link" href="product-single-page.html">перейти</a>
            <button class="products-tile__link" type="button">в корзину</button>
          </div>
        </div>

        <span class="products-tile__action"></span>
      </li>

      <li class="products-tile__item">
        <a class="products-tile__img-link" href="product-single-page.html">
          <img class="products-tile__img" src="images/products/psp-r_9044_silver.jpg" alt="psp-r_9044_silver">
        </a>
        <div class="products-tile__text-box">
          <span class="products-tile__name" title="PSP-R 9044 SILV">PSP-R 9044 SILV</span>
          <div class="products-tile__prices-box">
            <span class="products-tile__current-price">1,011.0 ₸</span>
            <span class="products-tile__price products-tile__price--crossedout"></span>
            <span class="products-tile__price products-tile__price--discount"></span>
          </div>
          <span class="products-tile__discount-percent"></span>
          <div class="products-tile__link-box">
            <a class="products-tile__link" href="product-single-page.html">перейти</a>
            <button class="products-tile__link" type="button">в корзину</button>
          </div>
        </div>

        <span class="products-tile__action"></span>
      </li>

      <li class="products-tile__item">
        <a class="products-tile__img-link" href="product-single-page.html">
          <img class="products-tile__img" src="images/products/psp-r_9044_gold.jpg" alt="psp-r_9044_gold">
        </a>
        <div class="products-tile__text-box">
          <span class="products-tile__name" title="PSP-R 9044 GOLD">PSP-R 9044 GOLD</span>
          <div class="products-tile__prices-box">
            <span class="products-tile__current-price">1,011.0 ₸</span>
            <span class="products-tile__price products-tile__price--crossedout"></span>
            <span class="products-tile__price products-tile__price--discount"></span>
          </div>
          <span class="products-tile__discount-percent"></span>
          <div class="products-tile__link-box">
            <a class="products-tile__link" href="product-single-page.html">перейти</a>
            <button class="products-tile__link" type="button">в корзину</button>
          </div>
        </div>

        <span class="products-tile__action"></span>
      </li>

      <li class="products-tile__item">
        <a class="products-tile__img-link" href="product-single-page.html">
          <img class="products-tile__img" src="images/products/pled-t8-pc-green.jpg" alt="pled-t8-pc-green">
        </a>
        <div class="products-tile__text-box">
          <span class="products-tile__name" title="PLED T8 FOOD Green">PLED T8 FOOD Green</span>
          <div class="products-tile__prices-box">
            <span class="products-tile__current-price">2,716.0 ₸</span>
            <span class="products-tile__price products-tile__price--crossedout"></span>
            <span class="products-tile__price products-tile__price--discount"></span>
          </div>
          <span class="products-tile__discount-percent"></span>
          <div class="products-tile__link-box">
            <a class="products-tile__link" href="product-single-page.html">перейти</a>
            <button class="products-tile__link" type="button">в корзину</button>
          </div>
        </div>

        <span class="products-tile__action"></span>
      </li>

      <li class="products-tile__item">
        <a class="products-tile__img-link" href="product-single-page.html">
          <img class="products-tile__img" src="images/products/pled-a60_buglight_10w_yellow.jpg"
            alt="pled-a60_buglight_10w_yellow">
        </a>
        <div class="products-tile__text-box">
          <span class="products-tile__name" title="PLED A60 BUGLIGHT">PLED A60 BUGLIGHT</span>
          <div class="products-tile__prices-box">
            <span class="products-tile__current-price">1,821.0 ₸</span>
            <span class="products-tile__price products-tile__price--crossedout"></span>
            <span class="products-tile__price products-tile__price--discount"></span>
          </div>
          <span class="products-tile__discount-percent"></span>
          <div class="products-tile__link-box">
            <a class="products-tile__link" href="product-single-page.html">перейти</a>
            <button class="products-tile__link" type="button">в корзину</button>
          </div>
        </div>

        <span class="products-tile__action"></span>
      </li>

      <li class="products-tile__item">
        <a class="products-tile__img-link" href="product-single-page.html">
          <img class="products-tile__img" src="images/products/lamp_par38_15w.jpg" alt="lamp_par38_15w">
        </a>
        <div class="products-tile__text-box">
          <span class="products-tile__name" title="PPG PAR38 AGRO для растений">PPG PAR38 AGRO для растений</span>
          <div class="products-tile__prices-box">
            <span class="products-tile__current-price">6,071.0 ₸</span>
            <span class="products-tile__price products-tile__price--crossedout"></span>
            <span class="products-tile__price products-tile__price--discount"></span>
          </div>
          <span class="products-tile__discount-percent"></span>
          <div class="products-tile__link-box">
            <a class="products-tile__link" href="product-single-page.html">перейти</a>
            <button class="products-tile__link" type="button">в корзину</button>
          </div>
        </div>

        <span class="products-tile__action"></span>
      </li>

      <li class="products-tile__item">
        <a class="products-tile__img-link" href="product-single-page.html">
          <img class="products-tile__img" src="images/products/pled-t26_2wall.jpg" alt="pled-t26_2wall">
        </a>
        <div class="products-tile__text-box">
          <span class="products-tile__name" title="PLED-T26 Для холодильников">PLED-T26 Для холодильников</span>
          <div class="products-tile__prices-box">
            <span class="products-tile__current-price">1,001.0 ₸</span>
            <span class="products-tile__price products-tile__price--crossedout"></span>
            <span class="products-tile__price products-tile__price--discount"></span>
          </div>
          <span class="products-tile__discount-percent"></span>
          <div class="products-tile__link-box">
            <a class="products-tile__link" href="product-single-page.html">перейти</a>
            <button class="products-tile__link" type="button">в корзину</button>
          </div>
        </div>

        <span class="products-tile__action"></span>
      </li>
      <li class="products-tile__item">
        <a class="products-tile__img-link" href="product-single-page.html">
          <img class="products-tile__img" src="images/products/pled-t22.jpg" alt="pled-t22">
        </a>
        <div class="products-tile__text-box">
          <span class="products-tile__name" title="PLED-T22 Для холодильников">PLED-T22 Для холодильников</span>
          <div class="products-tile__prices-box">
            <span class="products-tile__current-price">728.0 ₸</span>
            <span class="products-tile__price products-tile__price--crossedout"></span>
            <span class="products-tile__price products-tile__price--discount"></span>
          </div>
          <span class="products-tile__discount-percent"></span>
          <div class="products-tile__link-box">
            <a class="products-tile__link" href="product-single-page.html">перейти</a>
            <button class="products-tile__link" type="button">в корзину</button>
          </div>
        </div>

        <span class="products-tile__action"></span>
      </li>
      <li class="products-tile__item">
        <a class="products-tile__img-link" href="product-single-page.html">
          <img class="products-tile__img" src="images/products/pmg_002_led.jpg" alt="pmg_002_led">
        </a>
        <div class="products-tile__text-box">
          <span class="products-tile__name" title="PMG 002">PMG 002</span>
          <div class="products-tile__prices-box">
            <span class="products-tile__current-price">8,763.0 ₸</span>
            <span class="products-tile__price products-tile__price--crossedout"></span>
            <span class="products-tile__price products-tile__price--discount"></span>
          </div>
          <span class="products-tile__discount-percent"></span>
          <div class="products-tile__link-box">
            <a class="products-tile__link" href="product-single-page.html">перейти</a>
            <button class="products-tile__link" type="button">в корзину</button>
          </div>
        </div>

        <span class="products-tile__action"></span>
      </li>
      <li class="products-tile__item">
        <a class="products-tile__img-link" href="product-single-page.html">
          <img class="products-tile__img" src="images/products/ppg-wp_agro_4.jpg" alt="ppg-wp_agro_4">
        </a>
        <div class="products-tile__text-box">
          <span class="products-tile__name" title="PPG-WP AGRO">PPG-WP AGRO</span>
          <div class="products-tile__prices-box">
            <span class="products-tile__current-price">9,974.0 ₸</span>
            <span class="products-tile__price products-tile__price--crossedout"></span>
            <span class="products-tile__price products-tile__price--discount"></span>
          </div>
          <span class="products-tile__discount-percent"></span>
          <div class="products-tile__link-box">
            <a class="products-tile__link" href="product-single-page.html">перейти</a>
            <button class="products-tile__link" type="button">в корзину</button>
          </div>
        </div>

        <span class="products-tile__action"></span>
      </li>
      <li class="products-tile__item">
        <a class="products-tile__img-link" href="product-single-page.html">
          <img class="products-tile__img" src="images/products/pled-hp-t_40w_e27.jpg" alt="pled-hp-t_40w_e27">
        </a>
        <div class="products-tile__text-box">
          <span class="products-tile__name" title="PLED-HP-T Выс. мощности">PLED-HP-T Выс. мощности</span>
          <div class="products-tile__prices-box">
            <span class="products-tile__current-price">1,276.0 ₸</span>
            <span class="products-tile__price products-tile__price--crossedout"></span>
            <span class="products-tile__price products-tile__price--discount"></span>
          </div>
          <span class="products-tile__discount-percent"></span>
          <div class="products-tile__link-box">
            <a class="products-tile__link" href="product-single-page.html">перейти</a>
            <button class="products-tile__link" type="button">в корзину</button>
          </div>
        </div>

        <span class="products-tile__action"></span>
      </li>
    </ul>

    <div class="pagination">
      <ul class="pagination__items">
        <li class="pagination__item pagination__item-arrow pagination__item-arrow--prev">
          <a class="pagination__item-link pagination__item-link--arrow" href="#">
            <svg class="pagination__arrow pagination__arrow-prev" width="25px" height="25px">
              <use xlink:href="images/svg-sprite/sprite.svg#arrow-left"></use>
            </svg>
          </a>
        </li>
        <li class="pagination__item active">
          <a class="pagination__item-link" href="#">1</a>
        </li>
        <li class="pagination__item">
          <a class="pagination__item-link" href="#">2</a>
        </li>
        <li class="pagination__item">
          <a class="pagination__item-link" href="#">3</a>
        </li>
        <li class="pagination__item">
          <a class="pagination__item-link" href="#">4</a>
        </li>
        <li class="pagination__item">
          <a class="pagination__item-link" href="#">5</a>
        </li>
        <li class="pagination__item pagination__item-arrow pagination__item-arrow--next">
          <a class="pagination__item-link pagination__item-link--arrow" href="#">
            <svg class="pagination__arrow pagination__arrow-next" width="25px" height="25px">
              <use xlink:href="images/svg-sprite/sprite.svg#arrow-right"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>